// variables
$theme-font: 'Roboto', sans-serif;;
$logo-font: 'Roboto Slab', serif;;
$highlight-color: #00bcbc;
$thin-color: #d3d3d391;

// mixins
@mixin full-witdh-and-padding{
  width: 100%;
  padding: 20px;
}

@mixin width-side{
  width: 20%;
  min-width: 220px;
}

@mixin width-main{
  width: 80%;
  min-width: 500px;
}


body{
  font-family: $theme-font;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 100;
}

h1{
  font-size: 55px;
  color: white;
}

p{
  font-weight: 400;
}

.flex-container{
  display:flex;
}


header{
  width: 100%;
  height: 150px;

  .header-container{
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    background-color: $highlight-color;
    box-shadow: 2px 2px 3px 0px #0000003d;

    .logo-container{
      @include width-side;
      height: 100%;
      border-right: 1px solid $thin-color;

      justify-content: center;
      align-items: center;
    }

    .header-content{
      @include width-main;
      justify-content: center;
      align-items: center;
    }
  }
}


main{
  flex-wrap: nowrap;
  height: 50vh;
  width: 100%;

  aside{
    @include width-side;
    height: 100%;

    .side-container{
      width: 100%;
      height: 100%;
      padding: 15px;
      border-right: 1px solid $thin-color;

      font-family: $logo-font;

      ul{
        list-style-type: none;

        a{
          text-decoration: none;
          color: inherit;
        }

        li{
          padding: 10px;
          margin-bottom: 5px;
          text-align: center;
          cursor: pointer;
          box-shadow: 0px 0px 2px #00000057;
          transition: all 0.3s linear;

          &:hover{
            background: $thin-color;
          }
        }
      }
    }
  }

  section{
    @include width-main;
    height: 100%;

    .main-container{
      @include full-witdh-and-padding;
      width: 100%;
      height: 100%;
    }
  }
}

.footer-container{
  @include full-witdh-and-padding;
  height: 150px;
  background-color: $thin-color;
  text-align: center;
}
